@model AdminApps.Models.TaskStep

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Instructions)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Instructions)
    @Html.ValidationMessageFor(model => model.Instructions)
</div>

<div class="editor-label">
    DeskManualTask
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.DeskManualTaskID, ((IEnumerable<AdminApps.Models.DeskManualTask>)ViewBag.PossibleDeskManualTasks).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.DeskManualTaskID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.DeskManualTaskID)
</div>
