@model AdminApps.Models.TaskStep

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TaskStep</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Instructions</div>
    <div class="display-field">@Model.Instructions</div>

    <div class="display-label">DeskManualTask</div>
    <div class="display-field">@(Model.DeskManualTask == null ? "None" : Model.DeskManualTask.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


