@model AdminApps.ViewModels.BillReviewViewModel


<tr class="@(Model.UpToDate ? "" : "danger")">
    @*Agency users can only see their own Bill Reviews, so there's no need to display CreatedByName or DivName*@
    @if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
    {
        <td>
            @Html.DisplayFor(model => model.CreatedByName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedByUserInDiv.CompositeDivName)
        </td>
    }
    <td>
        @Html.DisplayFor(model => model.CreatedAt)
    </td>
    <td>
        @Html.DisplayFor(model => model.Recommendation.Description)
    </td>
    <td>
        @Html.DisplayFor(model => model.FiscalImpactTotal)
    </td>
    <td>
        @Html.DisplayFor(model => model.StatusMessage)
    </td>
    <td>
        @Html.ActionLink("View", "Details", "BillReviews", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })
        @if (!Model.IsApproved && ViewBag.UserCanApprove)
        {
            @Html.ActionLink("Approve", "Approve", "BillReviews", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })
        }

    </td>
</tr>
