@model AdminApps.ViewModels.NebsConcurrencyIndexViewModel

@{
    ViewBag.Title = "NEBS Concurrency Admin";
}

<h2>NEBS Concurrency Management</h2>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>AdminApps Budget Periods</th>
                <th>NEBS Budget Periods</th>
            </tr>
            <tr>
                <td>@Model.LocalBudgetPeriods.Count</td>
                <td>
                    @if (Model.NebsBudgetPeriods != null)
                    {
                        @Model.NebsBudgetPeriods.Count
                    }
                    else
                    {
                        <p>Unavailable</p>
                    }
                </td>
            </tr>
        </table>
        @Html.ActionLink("Sync Budget Periods", "SyncBudgetPeriods")
    </div>

    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>AdminApps Departments</th>
                <th>NEBS Departments</th>
            </tr>
            <tr>
                <td>@Model.LocalDepts.Count</td>
                <td>
                    @if (Model.NebsDepts != null)
                    {
                        @Model.NebsDepts.Count
                    }
                    else
                    {
                        <p>Unavailable</p>
                    }
                </td>
            </tr>
        </table>
        @Html.ActionLink("Sync Depts", "SyncDepts")
    </div>

    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>AdminApps Divisions</th>
                <th>NEBS Divisions</th>
            </tr>
            <tr>
                <td>@Model.LocalDivs.Count</td>
                <td>
                    @if (Model.NebsDivs != null)
                    {
                        @Model.NebsDivs.Count
                    }
                    else
                    {
                        <p>Unavailable</p>
                    }
                </td>
            </tr>
        </table>
        @Html.ActionLink("Sync Divs", "SyncDivs")
    </div>
</div>


