@model List<AdminApps.Models.ProjectScheduleVersion>

<small>
    <p>This application is configured to automatically back up previous revisions to the Project Schedule. To view a previous revision click "View Archived Schedule". You will then have the opportunity to restore the archived version as the current, active version of this project's schedule. </p>
    <p><strong>PLEASE NOTE: </strong>It is not possible to edit an archived schedule directly. To edit an archived schedule you must first restore it as the current version, then click "Edit Schedule (Full Screen)".</p>
</small>
<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SavedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SavedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("View Archived Schedule", "Details", new { id = item.ProjectID, scheduleVersion = item.VersionNum })
            </td>
        </tr>
    }

</table>
