@model AdminApps.ViewModels.UserProjectViewModel

@{
    ViewBag.Title = "Project Details";
    ViewBag.ModuleName = "User Projects";
}

@section headLevel{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_dhtmlxGanttHeadScriptIncludes.cshtml"); }
}

@section topLevel{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_dhtmlxGanttTopSection.cshtml"); }
}

@section scripts{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_initializeGantt.js.cshtml"); }
    @{ Html.RenderPartial("_ArchivedScheduleVersions.js"); }
}

<h2><strong>@Html.DisplayFor(model => model.Name)</strong></h2>

<hr />
<div class="row">
    <div class="col col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>
        </dl>
    </div>

    <div class="col col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectStatus.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectStatus.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Edit Project Details", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to My Projects list", "Index")
        </p>
    </div>
    <div class="col-md-6">
        <p class="text-right">
            @Html.ActionLink("Enter Full Screen", "EditScheduleFS", new { id = Model.ID })
        </p>
    </div>
</div>

@*tab panel*@
<div role="tabpanel">

    @*nav tabs*@
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#currentScheduleVersion" aria-controls="Current Schedule Versions" role="tab"><strong>Current Project Schedule</strong></a></li>
        <li role="presentation"><a href="#archivedScheduleVersions" aria-controls="Archived Schedule Versions" role="tab">Archived Schedule Versions</a></li>
    </ul>

    @*begin tab content*@
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" style="margin-top: 10px;" id="currentScheduleVersion">
            @*disclaimer for previous schedule version*@
            @if (Model.ProjectScheduleVersion.VersionNum != 1)
            {
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4>NOTE: You are currently viewing an archived schedule for this project.</h4>
                    </div>
                    <div class="panel-body">
                        To restore this version as the Current Project Schedule click @Html.ActionLink("Restore Archived Project Schedule", "RestoreProjectScheduleVersionToCurrent", new { id = Model.ProjectScheduleVersion.ID})
                    </div>
                </div>
            }
            @*gantt container*@
            <div id="ganttContainer" style="width: 100%; height: 400px;"></div>
        </div>

        <div role="tabpanel" class="tab-pane fade" style="margin-top: 10px;" id="archivedScheduleVersions">
            @*list of previous schedule versions, loaded by jquery ajax call from _PreviousScheduleVersions.js*@
        </div>

    </div>

</div>