@model AdminApps.ViewModels.UserProjectViewModel

@{
    ViewBag.Title = "Project Details";
    ViewBag.ModuleName = "User Projects";
    ViewBag.ProjectID = Model.ID;
}

@section headLevel{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_dhtmlxGanttHeadScriptIncludes.cshtml"); }
}

@section topLevel{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_dhtmlxGanttTopSection.cshtml"); }
    @{ Html.RenderPartial("_ArchivedScheduleVersion.Modal"); }
    @{ Html.RenderPartial("_ConfirmRestoreArchivedScheduleVersion.Modal"); }
}

@section scripts{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_initializeGantt.js.cshtml"); }
    @{ Html.RenderPartial("_ArchivedScheduleVersions.Tab.js"); }
    @{ Html.RenderPartial("_ArchivedScheduleVersion.Modal.js"); }
}

<h2><strong>@Html.DisplayFor(model => model.Name)</strong></h2>
<div class="row">
    <div class="col-md-6">
        <strong>@Html.DisplayNameFor(model => model.ProjectStatus.Description):</strong>
        @Html.DisplayFor(model => model.ProjectStatus.Description)
    </div>
    <div class="col-md-6">
        <p class="text-right">
            @Html.ActionLink("Edit Project Details", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to My Projects list", "Index")
        </p>
    </div>
</div>




@*tab panel*@
<div role="tabpanel">

    @*nav tabs*@
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tabProjectSchedule" aria-controls="Project Schedule" role="tab"><strong>Project Schedule</strong></a></li>
        <li role="presentation"><a href="#tabProjectDetails" aria-controls="Project Details" role="tab">Project Details</a></li>
        <li role="presentation"><a href="#tabArchivedScheduleVersions" aria-controls="Archived Schedule Versions" role="tab">Archived Schedule Versions</a></li>
    </ul>

    @*begin tab content*@
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" style="margin-top: 10px;" id="tabProjectSchedule">
            @Html.DisplayFor(model => model.ProjectScheduleVersion)
        </div>

        <div role="tabpanel" class="tab-pane fade" style="margin-top: 10px;" id="tabArchivedScheduleVersions">
            @*list of previous schedule versions, loaded by jquery ajax call from _ArchivedScheduleVersions.js*@
        </div>

        <div role="tabpanel" class="tab-pane fade" style="margin-top: 10px;" id="tabProjectDetails">
            <div class="row">
                <div class="col col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Comments)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Comments)
                        </dd>
                    </dl>
                </div>

                <div class="col col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedAt)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifiedAt)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifiedAt)
                        </dd>
                    </dl>
                </div>
            </div>        </div>

    </div>

</div>

