@model AdminApps.ViewModels.AlsrReportIndividualBillReviewViewModel

<tr>
    <td>
        @Html.CheckBoxFor(model => model.Selected)
    </td>
    <td>
        @Html.DisplayFor(model => model.CompositeBillNumber)
    </td>
    <td>
        @Html.DisplayFor(model => model.VersionNum)
    </td>
    <td>
        @Html.DisplayFor(model => model.CreatedByUserFullName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Recommendation)
        @Html.HiddenFor(model => model.ID)
    </td>
</tr>