@model AdminApps.ViewModels.BillReviewContainerViewModel

<div class="panel @(Model.UpToDate ? "panel-primary" : "panel-danger")">
    <div class="panel-heading">
        <h4 class="panel-title">@Html.DisplayFor(model => model.Bill.CompositeBillName)</h4>
    </div>
    <div class="panel-body">


        <dl class="dl-horizontal">
            <dt>
                Reviewed by
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedByUser.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedByUser.Div.CompositeDivName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedByUser.Div.CompositeDivName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentBillVersion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CurrentBillVersion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BillVersion.VersionDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BillVersion.VersionDescription)
            </dd>

            <dt class="@(Model.UpToDate ? "text-success" : "text-danger")">
                @Html.DisplayNameFor(model => model.StatusMessage)
            </dt>
            <dd class="@(Model.UpToDate ? "text-success" : "text-danger")">
                @Html.DisplayFor(model => model.StatusMessage)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Recommendation.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Recommendation.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RequiresTestimony)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequiresTestimony)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InformationToBeProvided)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InformationToBeProvided)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PolicyImpact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PolicyImpact)
            </dd>

        </dl>


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FiscalNoteSubmitted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FiscalNoteSubmitted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FiscalImpactYr1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FiscalImpactYr1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FiscalImpactYr2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FiscalImpactYr2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FiscalImpactFuture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FiscalImpactFuture)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FiscalImpactTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FiscalImpactTotal)
            </dd>

        </dl>

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ActivelyTracking)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivelyTracking)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>
    </div>
</div>
