@model AdminApps.ViewModels.BillReviewPreviouslyApprovedContainerViewModel


<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>WARNING:</strong> Approved review exists for @ViewBag.ApprovedReviewAgency</h4>
    </div>
    <div class="panel-body">
        <p>Approved by @Html.DisplayFor(model => model.ApprovedByUser.FullName) on @Html.DisplayFor(model => model.ApprovedAt)</p>
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUser.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUserInDiv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recommendation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FiscalImpactTotal)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.CreatedByUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreatedByUserInDiv.CompositeDivName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Recommendation.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FiscalImpactTotal)
                </td>
            </tr>
        </table>
    </div>
</div>
