@model AdminApps.ViewModels.AddBillVersionViewModel

@{
    ViewBag.Title = "Add Bill Version";
    ViewBag.ModuleName = "Bill Tracking";
}

<h2>Add Bill Version</h2>
<h3>@Html.DisplayFor(model => model.Bill.CompositeBillName)</h3>
<h6>@Html.DisplayFor(model => model.Bill.calculatedHyperlink)</h6>

<div class="panel panel-primary">
    <div class="panel-heading"><strong>Version History</strong></div>
    <div class="panel-body">

        <table class="table table-striped table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bill.BillVersions.FirstOrDefault().VersionDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bill.BillVersions.FirstOrDefault().ReprintDate)
                </th>
            </tr>

            @foreach (var item in Model.Bill.BillVersions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.VersionDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ReprintDate)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BillID)

        <div class="form-group">
            @Html.LabelFor(model => model.IsReprint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsReprint)
                    @Html.ValidationMessageFor(model => model.IsReprint, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReprintNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReprintNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReprintNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReprintDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReprintDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReprintDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amendment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amendment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amendment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEnrolled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsEnrolled)
                    @Html.ValidationMessageFor(model => model.IsEnrolled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Add Bill Version" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.BillID }, new { @class = "btn btn-default" })


