@model AdminApps.ViewModels.BillEditViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.ModuleName = "Bill Tracking";
}

<h3>@Html.DisplayFor(model => model.CompositeBillName)</h3>
<h5>Current Bill Version: @Html.DisplayFor(model => model.CurrentVersion.VersionDescription)</h5>
<h6>@Html.DisplayFor(model => model.calculatedHyperlink)</h6>


<!-- Begin Tab Panel-->
<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#reviews" aria-controls=" reviews" role="tab" data-toggle="tab"><strong>Reviews</strong></a></li>
        <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab"><strong>Session Details</strong></a></li>
        @if (Model.NebsBdrID.HasValue)
        {
            <li role="presentation"><a href="#nebs" aria-controls="nebs" role="tab" data-toggle="tab"><strong>NEBS BDR Details</strong></a></li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!--Begin Reviews tab-->
        <div role="tabpanel" class="tab-pane active" id="reviews">
            <br />

            <!--Begin Approved Review panel-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
                        {
                            <button type="button" class="btn btn-default btn-sm btn-help-left" data-toggle="modal" data-target="#approvedReviewModal"><strong>?</strong></button>
                            <text>Approved Review for @ViewBag.ApprovedReviewAgency</text>
                        }
                        else if (Request.IsAuthenticated && User.IsInRole("BillsAgency"))
                        {
                            <button type="button" class="btn btn-default btn-sm btn-help-left" data-toggle="modal" data-target="#agencyReviewModal"><strong>?</strong></button>
                            <text>Your Review</text>
                        }
                    </h4>
                </div>

                <div class="panel-body">
                    @if (Model.ApprovedReview != null)
                    {
                        if (!ViewBag.UserCanApprove && Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
                        {
                            <p class="text-danger">This Review has been received at the Department level and cannot be replaced by one of the 'Non-Approved Reviews' below.</p>
                        }

                        if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
                        {
                            <table class="table table-striped table-bordered table-condensed">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().CreatedByName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().CreatedByUserInDiv)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().CreatedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().Recommendation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().FiscalImpactBiennium)
                                    </th>
                                    <th></th>
                                </tr>

                                @Html.DisplayFor(model => model.ApprovedReview)

                            </table>
                        }
                        else if (Request.IsAuthenticated && User.IsInRole("BillsAgency"))
                        {
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().CreatedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().Recommendation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().FiscalImpactBiennium)
                                    </th>
                                    <th></th>
                                </tr>

                                @Html.DisplayFor(model => model.ApprovedReview)

                            </table>
                        }
                    }
                    else
                    {
                        if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
                        {
                            <p class="text-danger">This Bill does not have an Approved Review for @ViewBag.ApprovedReviewAgency</p>
                        }
                        else if (Request.IsAuthenticated && User.IsInRole("BillsAgency"))
                        {
                            <p class="text-danger">You have not yet submitted a review for this Bill.</p>
                            <p>@Html.ActionLink("Submit Bill Review", "Create", "BillReviews", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })</p>
                        }
                    }
                </div>

                @*Approved Review panel footer*@
                @if (Model.ApprovedReview != null)
                {
                    if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
                    {
                        <div class="panel-footer">
                            <small>Approved by @Html.DisplayFor(model => model.ApprovedByUser.FullName) on @Html.DisplayFor(model => model.ApprovedAt)</small>
                        </div>
                    }
                    else if (Request.IsAuthenticated && User.IsInRole("BillsAgency"))
                    {
                        <div class="panel-footer">
                            <small>Submitted on @Html.DisplayFor(model => model.ApprovedAt)</small>
                        </div>
                    }
                }
            </div>

            <!--Begin Non-Approved Reviews panel-->
            @if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <button type="button" class="btn btn-default btn-sm btn-help-left" data-toggle="modal" data-target="#nonApprovedReviewsModal"><strong>?</strong></button>
                            Non-Approved Reviews for @ViewBag.ApprovedReviewAgency
                        </h4>
                    </div>
                    <div class="panel-body">
                        @if (Model.UserCanReview == true)
                        {
                            <p>@Html.ActionLink("Create Bill Review", "Create", "BillReviews", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })</p>
                        }
                        else
                        {
                            <p>@ViewBag.ReviewMessage</p>
                        }

                        @if (Model.Reviews.Count() > 0)
                        {
                            <table class="table table-striped table-bordered table-condensed">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().CreatedByName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().CreatedByUserInDiv)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().CreatedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().Recommendation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().FiscalImpactBiennium)
                                    </th>
                                    <th>

                                    </th>
                                </tr>

                                @Html.DisplayFor(model => model.Reviews)

                            </table>
                        }
                        else
                        {
                            <p>
                                No
                                @if (Model.ApprovedReview != null)
                                {
                                    <span>additional</span>
                                }
                                reviews exist for @ViewBag.ApprovedReviewAgency
                            </p>
                        }
                    </div>

                    @if (!ViewBag.UserCanApprove)
                    {
                        <div class="panel-footer">
                            <small><strong>NOTE:</strong> The Approved Review for this Bill (top) has been received at the Department level and cannot be replaced by a 'Non-Approved Review'.</small>
                        </div>
                    }
                </div>
            }

            <!--Begin Bill Review Requests panel-->
            @if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept") || User.IsInRole("BillsDiv")))
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <button type="button" class="btn btn-default btn-sm btn-help-left" data-toggle="modal" data-target="#billReviewRequestsModal"><strong>?</strong></button>
                            Bill Review Requests
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>@Html.ActionLink("Request Bill Review(s)", "RequestReview", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })</p>
                        @if (Model.ReviewRequestedFromUsers.Any())
                        {
                            <p><small>The following table lists Bill Review Requests that have already been issued. To create additional Requests click on 'Request Bill Review(s)' above.</small></p>
                            <table class="table table-striped table-bordered table-condensed">
                                <tr>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Division
                                    </th>
                                    <th></th>
                                </tr>

                                @Html.EditorFor(model => model.ReviewRequestedFromUsers)
                            </table>
                        }
                        else
                        {
                            <p><small>No Reviews have been requested for this Bill. To create a Requests click on 'Request Bill Review(s)' above.</small></p>
                        }
                    </div>
                </div>
            }
        </div>

        <!--Begin Session Details tab panel-->
        <div role="tabpanel" class="tab-pane" id="details">
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CompositeNelisBdrNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompositeNelisBdrNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Digest)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Digest)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateIntroduced)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateIntroduced)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DatePassedFirstHouse)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DatePassedFirstHouse)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DatePassedSecondHouse)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DatePassedSecondHouse)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateGovAction)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateGovAction)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ChapterNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChapterNum)
                </dd>
            </dl>

            @if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept")))
            {
                <p>
                    @Html.ActionLink("Edit Bill Tracking Details", "Edit", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })
                </p>
            }

        </div>

        <!--Begin NEBS Details panel-->
        @if (Model.NebsBdrID.HasValue)
        {
            <div role="tabpanel" class="tab-pane" id="nebs">
                <br />
                @if (Model.NebsBdrID.HasValue)
                {
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.NebsDept.CompositeDeptName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsDept.CompositeDeptName)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.NebsDiv.CompositeDivName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsDiv.CompositeDivName)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.NebsBdrNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsBdrNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NebsBdrApprovedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsBdrApprovedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NebsBdrTitle)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsBdrTitle)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NebsBdrDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsBdrDescription)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NebsBdrTransmittalDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsBdrTransmittalDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NebsBdrAgendaName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsBdrAgendaName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NebsBdrAgendaDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NebsBdrAgendaDate)
                        </dd>

                    </dl>
                }

            </div>
        }
    </div>

</div>

<hr />
<p>@Html.ActionLink("Back to List All Bills", "Index", null, new { @class = "btn btn-default btn-sm" })</p>


<!--begin modals-->
<!--help modal: Approved Review-->
<div class="modal fade" id="approvedReviewModal" tabindex="-1" role="dialog" aria-labelledby="approvedReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="approvedReviewModalLabel">Help: <strong>Bill Review Approvals</strong></h3>
            </div>
            <div class="modal-body">
                @*Approved Review instructions for Clerc/Dept/Div users*@
                <h4><u>Overview</u></h4>
                <p>
                    The Bill Review approval process is essential for coordinating the flow of Bill Review data from the Division level to the Department level, and from the Department level to the Governor's Office.
                    Each Bill can have one Approved Review at the Division level and one Approved Review at the Department level.
                </p>
                <p>
                    Division and Department level users can approve a Bill Review by locating the Review in the 'Non-Approved Reviews' section of the Bill Details page,
                    then clicking the 'Approve' button in the right-hand column. Agency level users cannot approve Bill Reviews.
                </p>
                <br />
                <h4><u>Division level approvals</u></h4>
                <p>Department Administrators cannot view Non-Approved Bill Reviews created at the Division or Agency levels. Approving a Bill Review at the Division level will submit a notification to Department Administrators and make the Approved Review available for viewing at the Department level. Approved Reviews can be edited by their authors only until the Review has been marked as received at the Department level.</p>
                <p>
                    <strong>NOTE: </strong>Once an Approved Review has been marked as 'Read' it can no longer be edited, and it can no longer be replaced with a different, Non-Approved Bill Review.
                    This is a workflow precaution to prevent unread commentary from being inadvertantly transmitted to the Governor's Office.
                    However, if a Bill is amended then all users who have submitted a Bill Review--whether the Review is Approved or Non-Approved--will receive a notification of the amendment, along with the option to either:
                </p>
                <ol>
                    <li>confirm that their Review is still valid and accurate, or</li>
                    <li>revise their Review in light of the changes.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <small>Revised 02-18-2015</small>
            </div>
        </div>
    </div>
</div>

<!--help modal: Agency Review-->
<div class="modal fade" id="agencyReviewModal" tabindex="-1" role="dialog" aria-labelledby="agencyReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="agencyReviewModalLabel">Help: <strong>Your Review</strong></h3>
            </div>
            <div class="modal-body">
                <h4><u>Agency level Bill Reviews</u></h4>
                <p>
                    Submitting a Bill Review at the Agency level will notify your Division Administrator(s) of an 'Unread Bill Review'.
                </p>
            </div>
            <div class="modal-footer">
                <small>Revised 02-18-2015</small>
            </div>
        </div>
    </div>
</div>

<!--help modal: Non-Approved Reviews-->
<div class="modal fade" id="nonApprovedReviewsModal" tabindex="-1" role="dialog" aria-labelledby="nonApprovedReviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="nonApprovedReviewsModalLabel">Help: <strong>Non-Approved Reviews</strong></h4>
            </div>
            <div class="modal-body">
                <h4><u>Agency level Bill Reviews</u></h4>
                <p>
                    Submitting a Bill Review at the Agency level will notify the respective Division Administrator(s) of an 'Unread Bill Review'.
                    This notification will persist until the Review is marked as 'Read' at the Division level.
                    If desired, a Division Administrator can then forward an Agency level Review to the Department level by submitting it as the 'Approved Review' for the Division (details below).
                </p>
                <h4><u>Division level Bill Reviews</u></h4>
                <p>
                    Submitting a Bill Review at the Division level will create a 'Non-Approved Review', and this Review will be listed in the 'Non-Approved Reviews' section of the Bill Details page (List All Bills -> View).
                    Departmen level users will not receive any notice of this action until an Approved Review is submitted on behalf of the Division (details below).
                    Submitting and Approved Review at the Division level will notify the respective Department Administrator(s) of an 'Unread Bill Review'.
                    This notification will persist until the Review is marked as 'Read' at the Department level.
                </p>
            </div>
            <div class="modal-footer">
                <small>Revised 02-18-2015</small>
            </div>
        </div>
    </div>
</div>

<!--help modal: Bill Review Requests-->
<div class="modal fade" id="billReviewRequestsModal" tabindex="-1" role="dialog" aria-labelledby="billReviewRequestsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="billReviewRequestsModalLabel">Help: <strong>Bill Review Requests</strong></h4>
            </div>
            <div class="modal-body">
                <p>
                    To issue a Bill Review request to one or more users of the Bill Tracking modules click the 'Request Bill Review(s)' button.
                </p>
                @if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDiv")))
                {
                    <p>
                        Division level users will be presented with a table listing all Agency level users within their Division.
                        Targeted users can be selected by checking the box in the left-hand column of the table, then clicking the 'Request Review from Selected User(s)' button.
                        If a Review for the Bill in question has already been submitted by a particular user then that user's row will be colored green, and no check box will be available for selection.
                    </p>
                }
                @if (Request.IsAuthenticated && (User.IsInRole("BillsClerc") || User.IsInRole("BillsDept")))
                {
                    <p>
                        Department level users will be presented with a table listing all Division level users within the Department.
                        Targeted users can be selected by checking the box in the left-hand column of the table, then clicking the 'Request Review from Selected User(s)' button.
                        If a Review for the Bill in question has already been submitted by a particular user then that user's row will be colored green, and no check box will be available for selection.
                    </p>
                }
            </div>
            <div class="modal-footer">
                <small>Revised 02-18-2015</small>
            </div>
        </div>
    </div>
</div>

