@{
    ViewBag.Title = "Help";
    ViewBag.ModuleName = "Bills";
}

<h2>Help: Bill Tracking Module</h2>

<!-- Begin Tab Panel-->
<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="helpTabs">
        <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab"><strong>Overview</strong></a></li>
        <li role="presentation"><a href="#workflow" aria-controls="workflow" role="tab" data-toggle="tab"><strong>Workflow</strong></a></li>
        <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><strong>Bill Reviews</strong></a></li>
        <li role="presentation"><a href="#review_requests" aria-controls="review_requests" role="tab" data-toggle="tab"><strong>Bill Review Requests</strong></a></li>
        <li role="presentation"><a href="#account_requests" aria-controls="account_requests" role="tab" data-toggle="tab"><strong>User Account Requests</strong></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!--Begin Overview tab-->
        <div role="tabpanel" class="tab-pane active" id="overview">
            <h3>Introduction</h3>
            <p>
                The AdminApps Bill Tracking Module was designed to assist the Department of Administration's Director's Office in collecting feedback and analysis on proposed legislation from Division personnel.
                The information collected will be used by the Director's Office in preparing the weekly Agency Legislative Status Reports (ALSR) requested by the Governor's Office.
                Analysis is provided by completing a form called a "Bill Review", which contains the questions/fields needed to complete the ALSR.
                Detailed information on Bill Reviews, including instructions for submitting a Bill Review, is provided on the following tabs.
            </p>
            <p>
                The 'Help' section is intended to provide a broad overview of the Bill Tracking module's functionality.
                In addition to this overview there are helper windows located throughout the site, accessible wherever you see the following button
                <button type="button" class="btn btn-default btn-sm btn-help-left" data-toggle="modal" data-target="#helpModal"><strong>?</strong></button>.
                The helper windows provide detailed instructions that are specific to the individual components of the Bill Tracking module.
            </p>
            <hr />
            <h3>User Roles</h3>
            <p>The Bill Tracking Module uses a three-tiered hierarchy to organize the flow of information. Each tier is represented by a unique User Role (HINT: your User Role is displayed underneath the menu to the left). The following table provides a brief summary of each Role. Additional information for each Role is provided on the following tabs.</p>
            <div class="list-group list-group-narrow">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Department Administrator<br /><small>(Role: Department)</small></h4>
                    <p class="list-group-item-text">The Department Administrator role is repsonsible for reviewing information submitted by Division Administrators. Department users can create Bill Reviews, and they can also request Bill Reviews from Division users.</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Division Administrator<br /><small>(Role: Division)</small></h4>
                    <p class="list-group-item-text">The Division Administrator role is repsonsible for approving and submitting Bill Reviews to Department Administrators. Division users can create Bill Reviews, and they can also request Bill Reviews from Agency users.</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Agency User<br /><small>(Role: Agency)</small></h4>
                    <p class="list-group-item-text">The Agency User role is responsible for submitting Bill Reviews to Division Administrators. Agency users can create Bill Reviews, and they can also receive Bill Review Requests from Division users.</p>
                    <p class="list-group-item-text">NOTE: the name "Agency" was chosen out of convenience, and to distinguish the role from the Division Administrator role. There is no reason why Agency level users can't work in the same office as Division level users--the distinction is simply meant to facilitate the workflows outlined on the following tab.</p>
                </div>
            </div>
        </div>

        <!--Begin Workflow tab-->
        <div role="tabpanel" class="tab-pane" id="workflow">
            <h3>Workflow</h3>
            <p>The Bill Tracking Module was built to accommodate two basic workflow strategies:</p>
            <div class="list-group list-group-narrow">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">The "Top-Down" Workflow</h4>
                    <p class="list-group-item-text">
                        If a Department or Division Administrator wishes to solicit a Bill Review then he or she may submit a Bill Review Request to one or more selected users.
                        The selected users will receive an email notification of the request, along with a notification from the Home page of the Bill Tracking module.
                        The notification on the Home page will persist until a Bill Review been submitted.
                    </p>
                    <p class="list-group-item-text">
                        If a Division level user receives a Bill Review Request from the Department level then he or she may in turn request a Bill Review form one or more users within the same Division, including both Division and Agency level users.
                        These users will receive the same notification described above. The Division user will receive notification when the Requests have been fulfilled, at which point he or she may fulfill the original Department level request in one of two ways:
                        <ol>
                            <li>submit one of the requested Reviews as the 'Approved Review' for the Division, or</li>
                            <li>create a new Bill Review--possibly incorporating information from the requested Review(s)--and then submit the new Review as the 'Approved Review' for the Division</li>
                        </ol>
                        Detailed information on Bill Reviews, Approved Reviews, and Bill Review Requests is provided on the following tabs. To view an illustrated flow chart depicting all of the decision points of the "Top-Down" workflow please click on the following button.
                    </p>
                    <a href="@Url.Content("~/Content/Files/BillTracking/Help/AdminApps_BillTracking_Top-Down_Flow_Chart.pdf")" target="_blank" class="btn btn-default">View 'Top-Down' Flow Chart (PDF)</a>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">The "Bottom-Up" Workflow</h4>
                    <p class="list-group-item-text">
                        If a Division or Agency user identifies an impactful Bill or BDR then he or she may submit a Bill Review proactively.
                        The first step is to check the @Html.ActionLink("List All Bills", "Index") page to determine whether or not the Bill/BDR has already been entered in the AdminApps database.
                        All Bills currently available in the database will be listed on this page. If the Bill in question is not listed then you can click the @Html.ActionLink("Request New Bill Record", "RequestRecord") button
                        to request entry of the Bill, and when the Bill Record is available for Review you will receive an email notification, as well as a notification from the Home page of the Bill Tracking module.
                        The notification on the Home page will persist until a Bill Review has been submitted for the Bill in question (more info on Bill Reviews is available on the following tab).
                    </p>
                    <p class="list-group-item-text">
                        Once the Bill Record is available it will be displayed on the List All Bills page. To submit a Bill Review, locate the Bill in the list, click the 'View' button in the far right column, and then click the 'Add Review' button.
                        At this point, if an Agency user submits a Bill Review then all Division level users within his or her Division will receive notification of an 'Unread Bill Review',
                        and if a Division user submits an Approved Review to the Deparment level then all Department level users will receive a notification on the Home page.
                        The notification will persist until all Unread Bill Reviews have been marked as 'Read'.
                    </p>
                    <p class="list-group-item-text">
                        Detailed information on Bill Reviews and Approved Reviews is provided on the following tabs. To view an illustrated flow chart depicting all of the decision points of the "Bottom-Up" workflow please click on the following button.
                    </p>
                    <a href="@Url.Content("~/Content/Files/BillTracking/Help/AdminApps_BillTracking_Bottom-Up_Flow_Chart.pdf")" target="_blank" class="btn btn-default">View 'Bottom-Up' Flow Chart (PDF)</a>
                </div>
            </div>
        </div>

        <!--Begin Bill Reviews tab-->
        <div role="tabpanel" class="tab-pane" id="reviews">
            <h3>Bill Reviews</h3>
            <p>
                A 'Bill Review' is a collection of data and analysis related to a specific Bill or BDR.
                Each user can submit one, and only one, Review per Bill.
            </p>
            <h4>Creating a Bill Review</h4>
            <p>
                To create a Bill Review, first locate the desired Bill on the @Html.ActionLink("List All Bills", "Index") page,
                then click the 'View' button in the right-hand column to load the 'Bill Details' page (if the Bill is not listed please review the 'Bottom-Up' workflow on the previous tab).
                If you have not previously submitted a Review for the Bill in question click the 'Add Review' button, and after completing the form, click the 'Submit Review' button to create your Bill Review.
            </p>
            <p>
                As illustrated by the 'Top-Down' and 'Bottom-Up' workflows described on the previous tab, a Bill Review can be created proactively, or it can be created in response to a Bill Review Request.
                For detailed instructions on both methods please review the 'Workflow' tab.
            </p>
            <h4>Agency level Bill Reviews</h4>
            <p>
                Submitting a Bill Review at the Agency level will notify the respective Division Administrator(s) of an 'Unread Bill Review'.
                This notification will persist until the Review is marked as 'Read' at the Division level.
                If desired, a Division Administrator can then forward an Agency level Review to the Department level by submitting it as the 'Approved Review' for the Division (details below).
            </p>
            <h4>Division level Bill Reviews</h4>
            <p>
                Submitting a Bill Review at the Division level will create a 'Non-Approved Review', and this Review will be listed in the 'Non-Approved Reviews' section of the Bill Details page (List All Bills -> View).
                Departmen level users will not receive any notice of this action until an Approved Review is submitted on behalf of the Division (details below).
                Submitting and Approved Review at the Division level will notify the respective Department Administrator(s) of an 'Unread Bill Review'.
                This notification will persist until the Review is marked as 'Read' at the Department level.
            </p>
            <hr />
            <h3>Bill Review Approvals</h3>
            <p>
                The Bill Review approval process is essential for coordinating the flow of Bill Review data from the Division level to the Department level, and from the Department level to the Governor's Office.
                Each Bill can have one Approved Review at the Division level and one Approved Review at the Department level.
            </p>
            <p>
                Division and Department level users can approve a Bill Review by locating the Review in the 'Non-Approved Reviews' section of the Bill Details page (List All Bills -> View),
                then clicking the 'Approve' button in the right-hand column. Agency level users cannot approve Bill Reviews.
            </p>
            <h4>Division level approvals</h4>
            <p>
                Approving a Bill Review at the Division level will submit a notification to Department Administrators and make the Approved Review available for viewing at the Department level (Non-Approved Bill Reviews created at the Division or Agency levels are not displayed to Department level users).
                Approved Reviews can be edited/modified by their authors until the Review has been marked as 'Read' at the Department level. Also, Division level users can replace an Approved Review (this is done by simply approving a different Bill Review), but only so long as the Approved Review remains unread at the Department level.
            </p>
            <p>
                <strong>NOTE: </strong>Once an Approved Review has been marked as 'Read' it can no longer be edited, and it can no longer be replaced with a different, Non-Approved Bill Review.
                This is a workflow precaution to prevent unread commentary from being inadvertantly transmitted to the Governor's Office.
                However, if a Bill is amended then all users who have submitted a Bill Review--whether the Review is Approved or Non-Approved--will receive a notification of the amendment, along with the option to either:
            </p>
            <ol>
                <li>confirm that their Review is still valid and accurate, or</li>
                <li>revise their Review in light of the changes.</li>
            </ol>
        </div>

        <!--Begin Bill Review Requests tab-->
        <div role="tabpanel" class="tab-pane" id="review_requests">
            <h3>Bill Review Requests</h3>
            <p>
                To issue a Bill Review request to one or more users of the Bill Tracking modules locate the Bill on the @Html.ActionLink("List All Bills", "Index") page, click 'View', then click the 'Request Bill Review(s)' button.
            </p>
            <p>
                Division level users will be presented with a table listing all Agency level users within their Division.
                Targeted users can be selected by checking the box in the left-hand column of the table, then clicking the 'Request Review from Selected User(s)' button.
                If a Review for the Bill in question has already been submitted by a particular user then that user's row will be colored green, and no check box will be available for selection.
            </p>
            <p>
                Department level users will be presented with a table listing all Division level users within the Department.
                Targeted users can be selected by checking the box in the left-hand column of the table, then clicking the 'Request Review from Selected User(s)' button.
                If a Review for the Bill in question has already been submitted by a particular user then that user's row will be colored green, and no check box will be available for selection.
            </p>
        </div>

        <!--Begin Bill Review Requests tab-->
        <div role="tabpanel" class="tab-pane" id="account_requests">
            <h3>User Account Requests</h3>
            <p>
                Division and Agency level users can request additional user accounts for personnel within their Division by clicking 'User Account Requests' button in the menu to the left,
                then clicking the @Html.ActionLink("Request New User Account", "RequestBillsUserAccount") button.
            </p>
            <p>
                Division level users have the option of specifying either the Division or Agency User Role for the requested account.
                Requests from Agency level users default to the Agency User Role.
            </p>
            <p>
                The 'User Account Requests' page displays a table indicating the status of your previous requests.
                When a request has been fulfilled the respective row will be colored green,
                and the requested user will have received a welcome email with instructions for completing the account registration process.
            </p>
        </div>

    </div>

</div>

<!--help modal: helpModal-->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="helpModalLabel">Help: <strong>Sample Helper Window</strong></h4>
            </div>
            <div class="modal-body">
                <p>
                    This is an example of the helper windows located throughout the Bill Tracking module.
                    To dismiss the window click the 'X' in the top-right corner, or simply click outside of the helper window.
                </p>
            </div>
            <div class="modal-footer">
                <small>Revision date</small>
            </div>
        </div>
    </div>
</div>

