@model AdminApps.ViewModels.BillsHomeViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.ModuleName = "Bill Tracking";
}

<h2>Home</h2>
<p>Welcome to the AdminApps Bill Tracking module. For instructions please click the @Html.ActionLink("Help", "Help") button in the menu to the left.</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Bill Reviews</h3>
    </div>
    <div class="panel-body" role="navigation">
        @if (Model.RecentBillReviews.Any())
        {
            <table class="table table-striped table-condensed">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RecentBillReviews.FirstOrDefault().Bill.CompositeBillNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecentBillReviews.FirstOrDefault().Bill.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecentBillReviews.FirstOrDefault().CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecentBillReviews.FirstOrDefault().Recommendation.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecentBillReviews.FirstOrDefault().FiscalImpactBiennium)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.RecentBillReviews)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Bill.CompositeBillNumber, "Details", new { id = item.BillID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bill.Summary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recommendation.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FiscalImpactBiennium)
                        </td>
                        <td>
                            @Html.ActionLink("View Bill Review", "Details", "BillReviews", new { id = item.ID }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }

            </table>

        }
        else
        {
            <p>You have not submitted any Bill Reviews. To get started please click the @Html.ActionLink("Help", "Help") button in the menu to the left.</p>
        }
    </div>
    <div class="panel-footer">
        <small>This table displays your 5 most recent Bill Reviews. For a complete list of your Bill Reviews click the @Html.ActionLink("My Bill Reviews", "Index", "BillReviews") button in the menu to the left.</small>
    </div>
</div>

