@model IEnumerable<AdminApps.ViewModels.BillsIndexViewModel>

@{
    ViewBag.Title = "List NEBS Transmitted BDRs";
    ViewBag.ModuleName = "Bills";
}

<h2>List NEBS Transmitted BDRs</h2>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompositeBillNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NebsBdrNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumReviews)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompositeBillNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NebsBdrNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumReviews)
            </td>
            <td>
                @Html.ActionLink("Copy to AdminApps", "Create", new { nebsBdrId = item.NebsBdrID }, new { @class = "btn btn-default btn-xs" })
            </td>
        </tr>
    }

</table>
