@model AdminApps.Models.ProjectScheduleVersion

<div class="row">
    <div class="col-md-4">
        <p class="small">
            <strong>@Html.DisplayNameFor(model => model.SavedAt):</strong>
            @Html.DisplayFor(model => model.SavedAt)
        </p>
    </div>
    <div class="col-md-4">
        <p class="small">
            <strong>@Html.DisplayNameFor(model => model.Comments):</strong>
            @Html.DisplayFor(model => model.Comments)
        </p>
    </div>
    <div class="col-md-4">
        <p class="small text-right">
            @Html.ActionLink("Edit Schedule (Full Screen)", "EditScheduleFS", new { id = ViewBag.ProjectID })
        </p>
    </div>
</div>

@{ Html.RenderPartial("_GanttToolbar"); }

@*gantt container*@
<div class="row">
    <div class="col-md-12">
        <div id="ganttContainer" style="width: 100%; height: 400px;"></div>
    </div>
</div>


