@model AdminApps.ViewModels.BillReviewApprovalViewModel

@{
    ViewBag.Title = "Approve";
    ViewBag.ModuleName = "Bill Tracking";
}

<h3>Submit as 'Approved Review' for @ViewBag.ApprovedReviewAgency?</h3>

@if (Request.IsAuthenticated && User.IsInRole("BillsDiv"))
{
    <p><strong>Please Note: </strong>approving this Bill Review will send a notification to Department-level users and will make the Review available for possible inclusion in the Department's weekly 'Agency Legislative Status Report' for the Governor's Office.</p>
}


@Html.DisplayFor(model => model.ReviewToApprove)

@if (Model.ApprovedReview.ID == 0)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm Approval" class="btn btn-success" />
            @Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.ReviewToApprove.Bill.ID }, new { @class = "btn btn-default" })
        </div>
    }
}
else
{
    @Html.DisplayFor(model => model.ApprovedReview)
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm: Replace Approved Review?" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.ReviewToApprove.Bill.ID }, null)
        </div>
    }
}

