@model AdminApps.Models.BillReview

@{
    ViewBag.Title = "Delete";
    ViewBag.ModuleName = "Bill Tracking";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BillReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bill.NebsBdrNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill.NebsBdrNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recommendation.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recommendation.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiresTestimony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiresTestimony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformationToBeProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformationToBeProvided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalImpactYr1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalImpactYr1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalImpactYr2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalImpactYr2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalImpactFuture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalImpactFuture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalNoteSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalNoteSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
