@model AdminApps.ViewModels.BillReviewViewModel

@{
    ViewBag.Title = "Bill Review Details";
    ViewBag.ModuleName = "Bill Tracking";
}

<h2>
    @ViewBag.Title
    @if (Model.DisplayAsRead == false)
    {
        @Html.Encode(" (Unread)");
    }
</h2>
@if (!Model.UpToDate)
{
    <h3 class="text-danger">WARNING: This Bill Review is out of date.@(Model.UserCanUpdate ? " Please click the 'Update!' button below to confirm or revise your review." : "")</h3>
}


@if (Model.DisplayAsRead == false)
{
    @Html.ActionLink("Mark As Read", "MarkAsRead", "BillReviews", new { id = Model.ID }, new { @class = "btn btn-default" })
}

<p>@Html.DisplayFor(model => model.ApprovedReviewMessage)</p>

@Html.DisplayFor(model => model)

@if (Model.UserCanApprove == true && Model.UpToDate)
{
    <p>
        @Html.ActionLink("Approve Bill Review", "Approve", "BillReviews", new { id = Model.ID }, new { @class = "btn btn-success btn-sm" })
    </p>
}


@if (Model.UserCanEdit == true && Model.UpToDate)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
    </p>
}
else if (!Model.UpToDate)
{
    <p>
        @Html.ActionLink("Update!", "Update", new { id = Model.ID }, new { @class = "btn btn-danger btn-sm" })
    </p>
}
else
{
    <p class="danger">@Html.DisplayFor(model => model.EditMessage)</p>
}

<p>
    @Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.BillID }, new { @class = "btn btn-default" })
</p>


