@model AdminApps.ViewModels.BillReviewDetailViewModel

@{
    ViewBag.Title = "Bill Review Details";
    ViewBag.ModuleName = "Bill Tracking";
}

<h3>
    @ViewBag.Title
    @if (Model.Review.DisplayAsRead == false)
    {
        @Html.Encode(" (Unread)");
    }
</h3>

@if (Model.Review.DisplayAsRead == false)
{
    @Html.ActionLink("Mark As Read", "MarkAsRead", "BillReviews", new { id = Model.Review.ID }, new { @class = "btn btn-default" })
}

<p>@Html.DisplayFor(model => model.Review.ApprovedReviewMessage)</p>

@Html.DisplayFor(model => model.Review)

@if (Model.Review.UserCanApprove == true)
{
    <p>
        @Html.ActionLink("Approve Bill Review", "Approve", "BillReviews", new { id = Model.Review.ID }, new { @class = "btn btn-success btn-sm" })
    </p>
}

<p>
    @if (Model.Review.UserCanEdit == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Review.ID }, new { @class = "btn btn-default" });
    }
    else
    {
    <p class="danger">@ViewBag.EditMessage</p>
    }
    @Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.Review.BillID }, new { @class = "btn btn-default" })
    </p>
